<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level | [%t] [trace_id=%X{traceId}, span_id=%X{spanId}] %logger{39} : %m${LOG_EXCEPTION_CONVERSION_WORD:-%wEx%n}</pattern>
            </layout>
        </encoder>
    </appender>

    <!-- LOGGER -->
    <springProfile name="local">
        <logger name="br.com.zup" level="INFO" additivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <springProfile name="qa">
        <logger name="br.com.zup" level="INFO" additivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <logger name="br.com.zup" level="INFO" additivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>
        <root level="ERROR">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>
</configuration>
